{% extends 'layouts/_layout' %}

{% block content %}

    <div class="section">
        <section class="flex flex-wrap lg:h-screen">
            <div class="w-full lg:w-1/2 relative bg-beige">
                <div class="text-white mx-8 mt-32 md:mt-16 sm:mx-16 mb-16">
                    {% for contactInfo in entry.information.all() %}

                        {% if contactInfo.subtitle|length %}
                            <h1 class="text-2xl lg:text-3xl uppercase font-semibold lg:leading-zero -mt-2 pb-10">{{ contactInfo.subtitle }}</h1>
                        {% endif %}

                        <div class="lg:absolute pin-b mb-8 md:mb-16 pr-0 md:pr-8 xl:pr-16 xxl:pr-32">

                            {{ contactInfo.information|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-white hover:text-sienna underline'}) }}

                        {% endfor %}

                        {% if entry.email|length %}
                            <p class="font-sans font-semibold text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light mt-6">Email &mdash; <a href="mailto:{{ entry.email }}" class="font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light text-white hover:text-sienna no-underline">{{ entry.email }}</a></p>
                        {% endif %}

                        {% if entry.phone|length %}
                            <p class="font-sans font-semibold text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light">Phone &mdash; <a href="tel:{{ entry.phone }}" class="font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light text-white hover:text-sienna underline">{{ entry.phone }}</a></p>
                        {% endif %}

                    </div>

                </div>
            </div>
            <div class="w-full lg:w-1/2 bg-beige">
                <div class="text-white mx-8 mt-16 lg:mt-40 sm:mx-16 mb-16">
                    {#<h2 class="text-2xl lg:text-3xl uppercase font-semibold lg:leading-normal pb-10">Message</h2>

                    {% macro errorList(errors) %}
                        {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}

                    {% from _self import errorList %}

                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="action" value="contact-form/send">
                        <input type="text" id="address" class="hidden" name="address">
                        {{ redirectInput('success?from={fromName}') }}

                        <input id="subject" class="hidden" type="text" name="subject" value="{{ entry.title|striptags }}">

                        <input type="text" name="fromName" id="from-name" value="{{ message.fromName ?? '' }}" class="w-full appearance-none bg-coco text-white leading-normal tracking-wide outline-none border-b border-cream py-2" placeholder="Full Name*" required />
                        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                        <input type="email" name="fromEmail" id="from-email" value="{{ message.fromEmail ?? '' }}" class="w-full appearance-none bg-coco text-white leading-normal tracking-wide outline-none border-b border-cream py-2" placeholder="Email*" required />
                        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                        <input type="tel" name="message[Phone]" id="phone" value="" class="w-full appearance-none bg-coco text-white leading-normal tracking-wide outline-none border-b border-cream py-2" placeholder="Phone" />

                        <textarea rows="4" name="message[body]" id="message" class="w-full appearance-none bg-coco text-white leading-normal tracking-wide outline-none border-b border-cream py-2" placeholder="Message*" required>{{ message.message ?? '' }}</textarea>
                        {{ message is defined and message ? errorList(message.getErrors('message')) }}

                        <input type="submit" value="Submit" class="font-sans font-semibold cursor-pointer tracking-wide outline-none text-white hover:text-cream bg-coco my-2 px-0 py-2" />
                    </form>#}
                </div>
            </div>
        </section>
    </div>

{% endblock %}
