{% extends 'layouts/_layout' %}

{% block content %}

    <div class="section">
        <section class="flex flex-wrap flex-col-reverse sm:flex-row lg:h-screen">
            {% set leftPanel = entry.introductionImage.one() %}
            <div class="w-full lg:w-1/2" style="background: url('{{ leftPanel.url('panel') }}'); background-position: center; background-size: cover;">
                <img src="{{ leftPanel.url('panel') }}" class="lg:hidden" alt="{{ entry.title  }}" title="{{ entry.title  }}">
            </div>
            <div class="flex w-full lg:w-1/2 bg-beige relative">

                <div class="md:w-1/2 lg:absolute tracking-wide pin-l pin-b lg:h-two-third-screen xxl:h-half-screen mx-8 mt-16 lg:mt-0 sm:mx-16 mb-16 pr-32">
                    <div class="lg:absolute pin-b">
                        {% if entry.introduction|length %}
                            <h2 class="text-white text-4xl lg:text-5xl uppercase font-semibold lg:leading-normal">{{ entry.introduction|nl2br }}</h2>
                        {% endif %}
                        <h3 class="font-sans-copy text-white font-light tracking-wide text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-normal pt-8 sm:pt-20">{{ entry.subIntroduction|nl2br }}</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {# Products section #}
    {% include 'includes/products' %}

    {# Pre-footer #}
    <div class="section">
        <a href="/our-story" class="w-full inline-block no-underline">

            {% set storyEntry = craft.entries.section('ourStory').one() %}
            <section class="flex flex-wrap w-full lg:h-screen bg-beige pt-16 sm:pt-0">
                <div class="flex w-full lg:w-1/2 items-center text-white">
                    <div class="mx-8 sm:mx-16">
                        <span class="w-full inline-block font-sans text-white font-semibold tracking-wide text-base pb-1">{{ storyEntry.subTitle }}</span>
                        <h3 class="w-full text-2xl lg:text-3xl uppercase font-semibold lg:leading-normal hover:text-cream">Our Story</h3>
                    </div>
                </div>

                {% for story in storyEntry.story.limit(1).all() %}
                    {% set storyImage = story.image.one() %}
                    <div class="w-full lg:w-1/2 bg-coco border-beige border-40" style="background: url('{{ storyImage.url('panel') }}'); background-position: center; background-size: cover;">
                        <img src="{{ storyImage.url('panel') }}" class="lg:hidden" alt="{{ story.sectionTitle  }}" title="{{ story.sectionTitle  }}">
                    </div>
                {% endfor %}
            </section>

        </a>

        <div class="absolute hidden lg:block pin-b pin-l z-50 p-8 md:p-16">
            <a href="/#one" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-sm leading-tight tracking-wide font-light">Back to top</a>
        </div>

    </div>

{% endblock %}
