{% extends 'layouts/_layout' %}

{% block content %}

    {% for story in entry.story.all() %}
        {% if story.type == "story" %}
            <div class="section">
            {% if loop.index is odd %}
                <section class="flex flex-wrap lg:h-screen">
            {% else %}
                <section class="flex flex-wrap lg:h-screen flex-row-reverse">
            {% endif %}
                    {% set image = story.image.one() %}
                    <div class="w-full lg:w-1/2" style="background: url('{{ image.url('panel') }}'); background-position: center; background-size: cover;">
                        <img src="{{ image.url('panel') }}" class="lg:hidden" alt="{{ story.sectionTitle  }}" title="{{ story.sectionTitle  }}">
                    </div>
                {% set colour = story.backgroundColour %}
                <div class="flex w-full lg:w-1/2 {% if colour == 'grey' %} bg-{{ colour }}-lighter text-black{% else %} bg-{{ colour }} text-white{% endif %} items-end">
                    <div class="flex flex-wrap w-full justify-center">
                        <div class="w-full mt-8 sm:mt-16 mx-8 sm:mx-16">
                            <h4 class="text-2xl lg:text-3xl tracking-wide font-semibold leading-tight pb-8 sm:pb-10">{{ story.sectionTitle  }}</h4>
                        </div>
                        <div class="w-full mx-8 sm:mx-16 mb-16 xl:pr-16 xxl:pr-32">
                            {% if colour == "grey" %}
                                {{ story.bodyCopy|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-black hover:text-grey-darker' }) }}
                            {% else %}
                                {{ story.bodyCopy|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-white hover:text-cream' }) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            </div>
        {% elseif story.type == "fullWidth" %}
            <div class="section">
                <section class="flex flex-wrap lg:h-screen">
                    {% set fullWidthImage = story.image.one() %}
                    <div class="w-full" style="background: url('{{ fullWidthImage.url('fullWidthPanel') }}'); background-position: center; background-size: cover;">
                        <img src="{{ fullWidthImage.url('fullWidthPanel') }}" class="lg:hidden" alt="{% if story.imageTitle|length %}{{ story.imageTitle }}{% else %}{{ siteName }}{% endif %}" title="{% if story.imageTitle|length %}{{ story.imageTitle }}{% else %}{{ siteName }}{% endif %}">
                    </div>
                </section>
            </div>
        {% elseif story.type == "video" %}
            <div class="section">
                <section class="flex flex-wrap items-center lg:h-screen">
                    {# Video embed via vimeo - note '?background=1' appended to the end of the string for display #}
                        <div class="w-1/5 md:w-1/4">
                        </div>
                        <div class="w-3/5 md:w-1/2 embed-responsive">
                            <iframe src="{{ story.vimeoPlayer|raw }}?background=1" class="absolute w-full h-full pin" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="w-1/5 md:w-1/4">
                        </div>
                </section>
            </div>
        {% endif %}
    {% endfor %}

    {# Pre-footer #}
    <div class="section">
        <a href="/people" class="w-full inline-block no-underline">

            {% set peopleEntry = craft.entries.section('people').one() %}
            <section class="flex flex-wrap w-full lg:h-screen bg-beige pt-16 sm:pt-0">
                <div class="flex w-full lg:w-1/2 items-center text-white">
                    <div class="mx-8 sm:mx-16">
                        <span class="w-full inline-block font-sans text-white font-semibold tracking-wide text-base pb-1">{{ peopleEntry.subTitle }}</span>
                        <h3 class="w-full text-2xl lg:text-3xl uppercase font-semibold lg:leading-normal hover:text-cream">People of {{ siteName }}</h3>
                    </div>
                </div>

                {% for people in peopleEntry.people.limit(1).all() %}
                    {% set peopleImage = people.image.one() %}
                    <div class="w-full lg:w-1/2 bg-coco border-beige border-40" style="background: url('{{ peopleImage.url('panel') }}'); background-position: center; background-size: cover;">
                        <img src="{{ peopleImage.url('panel') }}" class="lg:hidden" alt="{{ people.sectionTitle  }}" title="{{ people.sectionTitle  }}">
                    </div>
                {% endfor %}
            </section>

        </a>

        <div class="absolute hidden lg:block pin-b pin-l z-50 p-8 md:p-16">
            <a href="/#one" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-sm leading-tight tracking-wide font-light">Back to top</a>
        </div>

    </div>

{% endblock %}
