{% extends 'layouts/_layout' %}

{% block content %}

    <div class="section">
        <section class="flex flex-wrap lg:h-screen">
            <div class="w-full lg:w-1/2 relative bg-beige">
                {% for pageInfo in entry.information.all() %}
                    <div class="text-white mx-8 mt-32 md:mt-16 sm:mx-16 mb-16">
                        {% if pageInfo.subtitle|length %}
                            <h1 class="text-2xl lg:text-3xl uppercase font-semibold lg:leading-tight -mt-2 pb-10">{{ pageInfo.subtitle }}</h1>
                        {% endif %}
                        <div class="lg:absolute pin-b mb-8 md:mb-16 pr-0 md:pr-8 xl:pr-16 xxl:pr-32">
                            {{ pageInfo.information|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-white hover:text-cream hover:border-cream' }) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w-full lg:w-1/2 bg-coco">
                <div class="text-white mx-8 mt-16 lg:mt-40 sm:mx-16 mb-16">
                </div>
            </div>
        </section>
    </div>

{% endblock %}
