{% extends 'layouts/_layout' %}

{% block content %}

    {% for person in entry.people.all() %}
        {% if person.type == "people" %}
            <div class="section">
            {% if loop.index is odd %}
                <section class="flex flex-wrap lg:h-screen">
            {% else %}
                <section class="flex flex-wrap lg:h-screen flex-row-reverse">
            {% endif %}
                    {% set image = person.image.one() %}
                    <div class="w-full lg:w-1/2" style="background: url('{{ image.url('panel') }}'); background-position: center; background-size: cover;">
                        <img src="{{ image.url('panel') }}" class="lg:hidden" alt="{{ person.personName  }}" title="{{ person.personName  }}">
                    </div>
                {% set colour = person.backgroundColour %}
                <div class="flex w-full lg:w-1/2 {% if colour == 'grey' %} bg-{{ colour }}-lighter text-black{% else %} bg-{{ colour }} text-white{% endif %} items-end">
                    <div class="flex flex-wrap w-full justify-center">
                        <div class="w-full mt-8 sm:mt-16 mx-8 sm:mx-16">
                            <h4 class="text-2xl lg:text-3xl tracking-wide font-semibold leading-tight pb-8 sm:pb-10">{{ person.personName  }}</h4>
                        </div>
                        <div class="w-full mx-8 sm:mx-16 mb-16 xl:pr-16 xxl:pr-32">
                            {% if colour == 'grey' %}
                                {{ person.information|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-black hover:text-grey-darker' }) }}
                            {% else %}
                                {{ person.information|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-white hover:text-cream' }) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            </div>
        {% elseif person.type == "fullWidth" %}
            <div class="section">
                <section class="flex flex-wrap lg:h-screen">
                    {% set fullWidthImage = person.image.one() %}
                    <div class="w-full" style="background: url('{{ fullWidthImage.url('fullWidthPanel') }}'); background-position: center; background-size: cover;">
                        <img src="{{ fullWidthImage.url('fullWidthPanel') }}" class="lg:hidden" alt="{% if person.imageTitle|length %}{{ person.imageTitle }}{% else %}{{ siteName }}{% endif %}" title="{% if person.imageTitle|length %}{{ person.imageTitle }}{% else %}{{ siteName }}{% endif %}">
                    </div>
                </section>
            </div>
        {% elseif person.type == "video" %}
            <div class="section">
                <section class="flex flex-wrap items-center lg:h-screen">
                    {# Video embed via vimeo - note '?background=1' appended to the end of the string for display #}
                        <div class="w-1/5 md:w-1/4">
                        </div>
                        <div class="w-3/5 md:w-1/2 embed-responsive">
                            <iframe src="{{ person.vimeoPlayer|raw }}?background=1" class="absolute w-full h-full pin" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="w-1/5 md:w-1/4">
                        </div>
                </section>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
