{% extends 'layouts/_layout' %}

{% block content %}

    {% set entry = craft.entries.section('aluan').one() %}

    {% include 'includes/products' %}

    {# Pre-footer #}
    <div class="section">
        <a href="/our-story" class="w-full inline-block no-underline">

            {% set storyEntry = craft.entries.section('ourStory').one() %}
            <section class="flex flex-wrap w-full lg:h-screen bg-beige pt-16 sm:pt-0">
                <div class="flex w-full lg:w-1/2 items-center text-white">
                    <div class="mx-8 sm:mx-16">
                        <span class="w-full inline-block font-sans text-white font-semibold tracking-wide text-base pb-1">{{ storyEntry.subTitle }}</span>
                        <h3 class="w-full text-2xl lg:text-3xl uppercase font-semibold lg:leading-normal hover:text-cream">Our Story</h3>
                    </div>
                </div>

                {% for story in storyEntry.story.limit(1).all() %}
                    {% set storyImage = story.image.one() %}
                    <div class="w-full lg:w-1/2 bg-coco border-beige border-40" style="background: url('{{ storyImage.url('panel') }}'); background-position: center; background-size: cover;">
                        <img src="{{ storyImage.url('panel') }}" class="lg:hidden" alt="{{ story.sectionTitle  }}" title="{{ story.sectionTitle  }}">
                    </div>
                {% endfor %}
            </section>

        </a>

        <div class="absolute hidden lg:block pin-b pin-l z-50 p-8 md:p-16">
            <a href="/#one" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-sm leading-tight tracking-wide font-light">Back to top</a>
        </div>

    </div>

{% endblock %}
