{% extends 'layouts/_layout' %}

{% block content %}

    <div class="section fp-auto-height">
        <section class="flex flex-wrap lg:h-full">

            <div class="flex w-full lg:w-1/2 bg-beige relative">

                <div class="tracking-wide mx-8 mt-32 md:mt-16 sm:mx-16 mb-16 pr-32">
                    <h2 class="text-white text-2xl lg:text-3xl uppercase font-semibold lg:leading-tight -mt-2 pb-10">{{ entry.stockArea }}</h2>
                    <p class="text-white font-sans-copy leading-normal tracking-wide font-light text-base sm:text-xs md:text-xs lg:text-base xl:text-md pb-8 z-50">
                        Become an <a href="/wholesale" class="text-white hover:text-cream">{{ entry.stockArea }} stockist.</a>
                    </p>
                    {% for baliStockist in entry.bali.all() %}
                        <h3 class="text-white text-base font-semibold pt-2 pb-4">{{ baliStockist.subregion }}</h3>
                        {% for stockist in baliStockist.stockist.all() %}
                            {% if stockist.website|length %}
                                <p class="text-white font-sans-copy leading-normal tracking-wide font-light text-base sm:text-xs md:text-xs lg:text-base xl:text-md pl-4"><a href="{{ stockist.website }}" class="text-white no-underline hover:text-cream" target="_blank" rel="noreferrer noopener">{{ stockist.stockistName }}</a> {% if stockist.extraNotes|length %}<span class="text-cream">&mdash; {{ stockist.extraNotes }}</span>{% endif %}</p>
                            {% else %}
                                <p class="text-white font-sans-copy leading-normal tracking-wide font-light text-base sm:text-xs md:text-xs lg:text-base xl:text-md pl-4">{{ stockist.stockistName }} {% if stockist.extraNotes|length %}<span class="text-white">&mdash; {{ stockist.extraNotes }}</span>{% endif %}</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="flex w-full lg:w-1/2 bg-coco relative">

                <div class="tracking-wide mx-8 mt-16 lg:mt-40 sm:mx-16 mb-16 pr-32">
                    <h2 class="text-white text-2xl lg:text-3xl uppercase font-semibold lg:leading-tight pb-10">{{ entry.stockAreaTwo }}</h2>
                    <p class="text-white font-sans-copy leading-normal tracking-wide font-light text-base sm:text-xs md:text-xs lg:text-base xl:text-md pb-8 z-50">
                        Become a <a href="/wholesale" class="text-white hover:text-cream">{{ entry.stockAreaTwo }} stockist.</a>
                    </p>
                    {% for nzStockist in entry.newZealand.all() %}
                        <h3 class="text-white text-base font-semibold pt-2 pb-4">{{ nzStockist.subregion }}</h3>
                        {% for stockist in nzStockist.stockist.all() %}
                            {% if stockist.website|length %}
                                <p class="text-white font-sans-copy leading-normal tracking-wide font-light text-base sm:text-xs md:text-xs lg:text-base xl:text-md pl-4"><a href="{{ stockist.website }}" class="text-cream no-underline" target="_blank" rel="noreferrer noopener">{{ stockist.stockistName }}</a> {% if stockist.extraNotes|length %}<span class="text-grey-darker">&mdash; {{ stockist.extraNotes }}</span>{% endif %}</p>
                            {% else %}
                                <p class="text-white font-sans-copy leading-normal tracking-wide font-light text-base sm:text-xs md:text-xs lg:text-base xl:text-md pl-4">{{ stockist.stockistName }} {% if stockist.extraNotes|length %}<span class="text-grey-darker">&mdash; {{ stockist.extraNotes }}</span>{% endif %}</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

        </section>
    </div>

{% endblock %}
