{% extends 'layouts/_layout' %}

{% block content %}

    <div class="section">
        <section class="flex h-screen">
            <div class="w-1/2 bg-beige">
            </div>
            <div class="w-1/2 bg-coco">
                <div class="text-white mx-8 mt-16 lg:mt-40 sm:mx-16 mb-16">
                    <h1 class="text-2xl lg:text-3xl uppercase font-semibold lg:leading-tight pb-10">{{ entry.title }}</h1>
                    <p>
                        Thank you for your message {{ craft.app.request.getQueryParam('from') }}. We'll be in touch shortly.
                    </p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
