<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.01 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
    <link rel="stylesheet" href="https://use.typekit.net/rdl0lki.css">

</head>

    <body id="content" class="{{ entry is defined ? entry.title|lower : "aluan" }}-page font-sans">

    <div id="fullpage">
		{% block content %}
		{% endblock %}
	</div>

    {# JS #}
    {% do view.registerJsFile("/assets/js/jquery-3.3.1.min.js") %}
    {% do view.registerJsFile("/assets/js/vendor.min.js?v="~assetVersion) %}
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}

</body>
</html>
