<section class="flex h-screen bg-beige items-center">
    <div class="flex flex-wrap px-4 md:px-8">
        <div class="flex flex-wrap w-full md:w-1/2 relative p-4 md:p-8">

            <div class="w-full sm:w-1/2 md:pr-8">

                <span class="inline-block font-semibold uppercase text-white leading-tight text-base sm:text-xs md:text-xs lg:text-base xl:text-md pt-3 pb-1">Email</span>
                <p class="font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md font-light tracking-nav leading-tight mb-6"><a href="mailto:hello@aluan.co" class="text-white no-underline hover:text-cream">hello@aluan.co</a></p>

                <ul class="list-reset">
                    <li class="inline-block uppercase font-semibold text-white text-base sm:text-xs md:text-xs lg:text-base xl:text-md pb-1">Shop</li>
                    {#<li><a href="https://shop-id.aluan.co/" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-nav">Indonesia</a></li>
                    <li><a href="https://shop.aluan.co/" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-nav">New Zealand</a></li>#}
                    <li><a href="/wholesale" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-nav">Wholesale / Global</a></li>
                    {#<li><a href="/" class="text-white no-underline hover:text-cream">Aotearoa</a></li>
                    <li><a href="/" class="text-white no-underline hover:text-cream">Indonesia</a></li>#}
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:pl-8">
                <ul class="list-reset font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-nav font-light">
                    <li class="inline-block uppercase font-sans font-semibold text-white pt-3 pb-1">Menu</li>
                    <li><a href="/products" class="text-white no-underline hover:text-cream">What we make</a></li>
                    <li><a href="/our-story" class="text-white no-underline hover:text-cream">Our Story</a></li>
                    <li><a href="/people" class="text-white no-underline hover:text-cream">People of {{ siteName }}</a></li>
                    <li><a href="/stockists" class="text-white no-underline hover:text-cream">Stockists</a></li>
                    <li><a href="/contact" class="text-white no-underline hover:text-cream">Contact</a></li>
                    <li><a href="/invest-in-aluan" class="text-white no-underline hover:text-cream">Invest in {{ siteName }}</a></li>
                </ul>
            </div>
        </div>
        <div class="flex flex-wrap w-full md:w-1/2 relative py-4 md:py-8 pr-4 md:pr-8">
            {% set feed = craft.instagram.getFeed()[:3] %}

            <div class="w-full xl:w-1/2 px-4 md:px-0 xl:pr-8">

                <span class="inline-block font-sans uppercase text-white font-semibold tracking-wide text-base sm:text-xs md:text-xs lg:text-base xl:text-md pt-3 pb-1">Instagram</span>
                <p class="font-sans-copy text-md lg:text-lg xxl:text-xl font-light tracking-nav leading-tight mb-4"><a href="https://www.instagram.com/aluan.coconut" target="_blank" rel="noreferrer noopener" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-nav font-light">@aluan.coconut</a></p>

                <div class="flex">
                    {% for post in feed %}
                        <div class="w-1/3 pr-2">
                            {#<a href="https://www.instagram.com/p/{{ post.shortcode }}/" target="_blank" rel="noreferrer noopener">
                                <img src="{{ post.src }}" alt="{{ siteName }} Instagram" title="{{ siteName }} Instagram">
                            </a>#}
                        </div>
                    {% endfor %}
                </div>

            </div>

            {# Begin Mailchimp Signup Form #}
            <div id="mc_embed_signup" class="w-full xl:w-1/2 px-4 md:px-0 xl:pl-8">

                    <form action="https://aluan.us12.list-manage.com/subscribe/post?u=8fac38e70dff8ed9e3f1d7ccb&amp;id=28575fed56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                    	<span class="inline-block font-sans-copy text-white font-light tracking-nav text-base sm:text-xs md:text-xs lg:text-base xl:text-md pt-3 pb-4">I want to stay updated on āluān community and culture, products, and environmental action.</span>
                    <div class="mc-field-group">
                    	<input type="email" value="" name="EMAIL" class="required email w-full appearance-none rounded-none bg-beige text-white leading-normal tracking-wide outline-none border-b border-cream py-2" placeholder="Email*" id="mce-EMAIL">
                    </div>
                    	<div id="mce-responses" class="clear">
                    		<div class="response" id="mce-error-response" style="display:none"></div>
                    		<div class="response" id="mce-success-response" style="display:none"></div>
                    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8fac38e70dff8ed9e3f1d7ccb_28575fed56" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button font-sans font-semibold cursor-pointer tracking-wide outline-none text-white hover:text-cream bg-beige my-2 px-0 py-2"></div>
                        </div>
                    </form>
                </div>
            </div>
            {# End Mailchimp Signup Form #}

            <div class="absolute hidden lg:block pin-b pin-l z-50 p-8 md:p-16">
                <a href="#one" class="text-white no-underline hover:text-cream font-sans-copy text-base sm:text-xs md:text-xs lg:text-sm leading-tight tracking-wide font-light">Back to top</a>
            </div>

        </div>
    </div>

</section>
