<header id="header" class="fixed w-full md:w-1/2 pin-t pin-r z-20">

    <nav class="h-32">
        <span class="menu absolute text-white hover:text-cream text-xl font-sans font-semibold tracking-wide cursor-pointer z-50 p-8 md:p-16">Menu</span>
    </nav>

</header>

<div class="absolute pin-r z-50">
    <div class="wordmark flex absolute pin-t pin-r mt-16 md:mt-24 mr-2 md:mr-12">
        <a href="/" class="text-white hover:text-cream no-underline"><h1 class="text-4xl tracking-wide font-normal">{{ siteName }}</h1></a>
    </div>
</div>

<div class="menuItems hidden fixed w-full md:w-1/2 h-screen bg-beige-o pin-r z-20 p-8 md:p-16">

    <span class="close absolute text-white text-xl font-sans font-semibold tracking-wide cursor-pointer z-50">Close</span>

    <ul class="absolute pin-b font-sans-copy list-reset text-2xl lg:text-3xl xxl:text-4xl font-light tracking-nav leading-tight mb-16">
        {#<li class="inline-block font-sans text-white font-semibold tracking-wide text-xl mt-16">Shop</li>#}
        {#<li><a href="https://shop-id.aluan.co/" class="text-white no-underline hover:text-cream">Indonesia</a></li>
        <li><a href="https://shop.aluan.co/" class="text-white no-underline hover:text-cream">New Zealand</a></li>#}
        {#<li><a href="/wholesale" class="inline-block text-white no-underline hover:text-cream mb-8 xl:mb-12 xxl:mb-16">Wholesale / Global</a></li>#}

        <li><a href="/products" class="text-white no-underline hover:text-cream">Products</a></li>
        <li><a href="/our-story" class="text-white no-underline hover:text-cream">Conservation</a></li>
        <li><a href="/people" class="text-white no-underline hover:text-cream">People of {{ siteName }}</a></li>
        {#<li><a href="/stockists" class="text-white no-underline hover:text-cream">Stockists</a></li>#}
        <li><a href="/contact" class="text-white no-underline hover:text-cream">Contact</a></li>
        {#<li><a href="/invest-in-aluan" class="text-white no-underline hover:text-cream">Invest in {{ siteName }}</a></li>#}
    </ul>

</div>
