{% for product in entry.products.all() %}
    <div class="section">
        <section {% if loop.first %} id="products" {% endif %} class="flex flex-wrap lg:h-screen{% if loop.index is even %} flex-row-reverse{% endif %}">
            {% set colour = product.backgroundColour %}
            <div class="flex relative w-full lg:w-1/2 {% if colour == 'grey' %} bg-{{ colour }}-lighter text-black {% else %} bg-{{ colour }} text-white{% endif %} items-center">
                <div class="lg:absolute pin-b w-full lg:h-two-third-screen xxl:h-half-screen">
                    <div class="lg:absolute pin-b mx-8 md:mx-16 mb-8 md:mb-16 pt-8 lg:pt-0 pr-0 md:pr-8 xxl:pr-32">
                        <div class="w-full">
                            <h4 class="text-2xl lg:text-3xl tracking-wide uppercase font-semibold leading-tight py-8 sm:pb-16">{{ product.productTitle }}</h4>
                        </div>
                        {% if colour == "grey" %}
                            {{ product.information|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-black hover:text-grey-darker' }) }}
                        {% else %}
                            {{ product.information|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-white hover:text-cream' }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% set imageColour = product.imageBackgroundColour %}
            <div class="flex flex-wrap relative w-full lg:w-1/2 {% if imageColour == 'grey' %} bg-{{ imageColour }}-lighter text-black {% else %} bg-{{ imageColour }} text-white{% endif %}">
                <div class="hidden lg:block lg:w-1/4">
                </div>
                <div class="flex w-full lg:w-1/2 items-center py-12 lg:py-0">
                    {% set productImg = product.image.one() %}
                    <img src="{{ productImg.url('product') }}" alt="{{ product.productTitle }}" title="{{ product.productTitle }}">
                </div>
                <div class="hidden lg:block lg:w-1/4">
                </div>
                {% if product.productInformation|length %}
                <div class="lg:absolute pin-b w-full lg:h-two-third-screen xxl:h-half-screen">
                    <div class="lg:absolute pin-b mx-8 md:mx-16 sm:mb-8 md:mb-16 pb-10 lg:pb-0 pr-0 md:pr-8 xxl:pr-32">
                        {% if imageColour == "grey" %}
                            {{ product.productInformation|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-black hover:text-grey-darker' }) }}
                        {% else %}
                            {{ product.productInformation|nl2br|retconAttr('p', { 'class' : 'font-sans-copy text-base sm:text-xs md:text-xs lg:text-base xl:text-md leading-tight tracking-wide font-light' })|retconAttr('strong', { 'class' : 'font-sans font-semibold' })|retconAttr('i', { 'class' : 'italic' })|retconAttr('a', { 'class' : 'text-white hover:text-cream' }) }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endfor %}
