{% extends 'layouts/_error-layout' %}

{% block content %}

    <div class="section">
        <section class="flex flex-wrap lg:h-screen">
            <div class="w-full lg:w-1/2 bg-cream">
            </div>
            <div class="flex w-full lg:w-1/2 bg-coco relative">
                <div class="absolute tracking-wide pin-l pin-b lg:h-two-third-screen xxl:h-half-screen mx-8 mt-16 lg:mt-0 sm:mx-16 mb-16 pr-32">
                    <span class="text-cream text-4xl lg:text-5xl uppercase font-semibold lg:leading-normal">Login to view site.</span>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
